body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  color: #222;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  gap: 20px;
  margin: 0 auto;
}

section {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex: 1;
}

aside {
  background-color: #686868;
  flex: 0 0 230px;
  padding: 0px;
  margin: 0;
}

main {
  background-color: #ffffff;
  padding: 20px;
  flex: 1;
  min-width: 0;
}

header#header {
  padding: 20px;
  background-color: teal;
  color: white;
  text-align: center;
}

footer#footer {
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  min-height: 50px;
}

nav#main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav#main-menu ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

nav#main-menu ul li a:hover {
  color: #000000;
  background-color: #777777;
  margin-left: 10px;
  transition: all 0.2s ease-in;
}
