body {
  margin: 0;
  padding: 0;
}

nav#menu-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav#menu-principal ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #5c5c5c;
  padding: 10px;
  transition: all 0.3s ease-in;
  border-right: 0px solid transparent;
  font-size: 16px;
}

nav#menu-principal ul li a:hover {
  color: #202020;
  background-color: #e6e6e6;
  padding-left: 30px;
  box-shadow: 0px 0px 5px #bfbfbf;
  border-width: 10px;
  border-color: #20bafb;
  font-size: 20px;
}

nav#menu-principal ul li a::before {
  content: " ";
  width: 40px;
  background-color: #20bafb;
  position: absolute;
  top: 0;
  left: -60px;
  bottom: 0;
  transform: skewX(20deg);
  transition: all 0.3s ease-in;
}
nav#menu-principal ul li a:hover::before {
  left: -20px;
}

header,
footer {
  background-color: #20bafb;
}

aside {
  background-color: #d9d9d9;
}

#container {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 180px 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header#main-header {
  grid-area: header;
}
footer#main-footer {
  grid-area: footer;
}
aside#main-nav {
  grid-area: aside;
}
main#main-content {
  grid-area: main;
}

main#main-content .wrapper {
  padding: 10px 40px;
}
